    <nav class="navbar" >
      <div class="container">
          <img class="img-responsive" src="../../base/img/logo-pokemon.png">
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <div class="col-md-offset-2 col-md-8">
            <!--<div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
            </div>-->
          </div>
      </div>
    </div>

    <div class="container-fluid">
      <!-- Example row of columns -->
      <div class="container">
        <div *ngFor="let Pokemon of Pokemons; let i = index" class="col-sm-3 col-md-3">
            <a class="btn btn-default" [routerLink]="['/details', (i+1)]" role="button"><img class="center-block" [attr.src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+(i+1)+'.png'">
            <p class="bulbasaur">{{Pokemon.name}}</p>
            </a>
        </div>
      </div>
    </div> 
        
        <footer class="text-center">
        <p>&copy; The Pokemon Company</p>
      </footer>